black = #000
white = #fff

green-light = #A1FF00
green = #76B900
red = #dd1111
yellow = #ffb200

grey-light = #eee
grey-medium = #ccc
grey-dark = #333

site-background = black
terminal-green = green-light
terminal-red = #ff1111
task-background = #ffdc00
