black = #000
white = #fff

grey-dark = #333
green-light = #A1FF00
green = #76B900
red = #dd1111
yellow = #ffb200

grey-light = #eee
grey-medium = #ccc

site-background = #4a76a7
terminal-green = green-light
terminal-red = #ff1111
