@font-face {
  font-family "Fira Sans"
  font-weight 400
  font-style normal
  src url("~assets/fonts/Fira-Sans-regular.eot")
  src url("~assets/fonts/Fira-Sans-regular.eot?#iefix") format("embedded-opentype"),
       local("Fira Sans"),
       local("Fira-Sans-regular"),
       url("~assets/fonts/Fira-Sans-regular.woff2") format("woff2"),
       url("~assets/fonts/Fira-Sans-regular.woff") format("woff"),
       url("~assets/fonts/Fira-Sans-regular.ttf") format("truetype"),
       url("~assets/fonts/Fira-Sans-regular.svg#FiraSans") format("svg")
}

@font-face {
  font-family "Fira Sans"
  font-weight 700
  font-style normal
  src url("~assets/fonts/Fira-Sans-700.eot")
  src url("~assets/fonts/Fira-Sans-700.eot?#iefix") format("embedded-opentype"),
       local("Fira Sans Bold"),
       local("Fira-Sans-700"),
       url("~assets/fonts/Fira-Sans-700.woff2") format("woff2"),
       url("~assets/fonts/Fira-Sans-700.woff") format("woff"),
       url("~assets/fonts/Fira-Sans-700.ttf") format("truetype"),
       url("~assets/fonts/Fira-Sans-700.svg#FiraSans") format("svg")
}

@font-face {
  font-family "Roboto Mono"
  font-weight 400
  font-style normal
  src url("~assets/fonts/Roboto-Mono-regular.eot")
  src url("~assets/fonts/Roboto-Mono-regular.eot?#iefix") format("embedded-opentype"),
       local("Roboto Mono"),
       local("Roboto-Mono-regular"),
       url("~assets/fonts/Roboto-Mono-regular.woff2") format("woff2"),
       url("~assets/fonts/Roboto-Mono-regular.woff") format("woff"),
       url("~assets/fonts/Roboto-Mono-regular.ttf") format("truetype"),
       url("~assets/fonts/Roboto-Mono-regular.svg#RobotoMono") format("svg")
}
